body {
  margin: 0px;
  color: #fff;
  display: block;
  background: url(../images/main.jpg) 0% 110% no-repeat;
}

#header {
  background-color: rgb(80, 80, 80);
  width: 70%;
  margin: 0 auto;
}

.nav-items {
  display: flex;
  margin-top: 30px;
  border: 1px solid #333;
  border-radius: 4px;
}

.nav-items a {
  text-decoration: none;
  color: white;
}

.nav-items div {
  display: flex;
  flex: 1;
  justify-content: center;
  border: 1px solid grey;
  padding: 10px;
  background: linear-gradient(to right bottom, #000, #fff);
}

input {
  background-color: rgb(80, 80, 80);
  border: 1px solid gray;
  border-radius: 4px;
}

.nav-items div:hover {
  background: #333;
}

.textgrid {
  width: 100%;
  color: white;
}

.text {
  width: 60%;
  margin: 0 auto;
}

.text a{
  text-decoration: none;
  color: #fff;
}

.text a:hover{
  border-bottom: 1px solid white;
}

.grid {
  display: flex;
  overflow: hidden;
  background-color: #fff;
  margin-top: 100px;
}

footer {
  width: 100%;
  color: #333;
  background-color: #fff;
}

.footer {
  width: 80%;
  padding-top: 20px;
  padding-left: 200px;
}

.line1 {
  display: flex;
}

.list ul {
  display: flex;
  list-style: none;
}

.list li {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: -10px;
}

#nobord a {
  text-decoration: none;
  color: blue;
  border-right: none;
}

footer a {
  text-decoration: none;
  color: blue;
  padding: 0 2px;
  border-right: 1px solid gray;
}

footer a:hover {
  border-bottom: 1px solid blue;
}